[Unit]
Description=Display Scale Enforcement
[Service]
Type=simple
TimeoutStartSec=0
ExecStart=/usr/bin/scale-enforce.sh 2
[Install]
WantedBy=default.target
Require=graphical.target